@{
    ViewBag.Title = "Movies";
}

<h2>Movies</h2>



<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    method: "GET",
                    dataSrc: ""
                },

                columns: [
                    {
                        data: "name",                       
                    },
                    {
                        data: "genre.typeOfGenre"
                    }                   
                ]
            });            
        });
    </script>
}


